body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", "PT Sans", sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: normal;
    color: #ffffff;
    text-transform: none;
    background-color: #849d8f;
    background-repeat: no-repeat;
}

page-container {
    width: 1200px;
    margin: 0 auto;
}

a {
    font-family: "Roboto", "PT Sans", sans-serif;
    color: #ffffff;
    text-decoration: underline;
}

.user-navigation a {
    text-decoration: none;
}

.list-unstyled {
    list-style: none;
    padding: 0;
    margin: 0
}

.main-navigation {
    line-height: 18px;
    font-weight: 700;
}

.user-navigation {
    font-size: 14px;
    font-weight: 700;
}

.site-navigation a:hover, 
.user-navigation a:hover {
    background: #ffbed4; /* Цвет фона под ссылкой */ 
    color: #323232; /* Цвет ссылки */ 
}

.site-navigation a:active,
.user-navigation a:active {
    background: #f6b5a5;
    color: #323232; 
}

.header__contacts-text {
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
}

.header__contacts-tel {
    font-size: 22px;
    line-height: 24px;
    font-weight: 700;
}

.advantages h1 {
    font-size: 24px;
    line-height: 30px;
    font-weight: 500;
    color: #323232;
}

.advantages {
    color: #323232;
    background-image: url("img/waffle-background.png");
    background-color: #eee1c8;
    background-position: center;
}

.advantages-item {
    color: #323232;
    font-weight: 400;
}

.information {
    background-image: url("img/strawberry-background.jpg");
    background-position: center;
}

.blog-preview-title {
    color: #323232;
    font-weight: 500;
  }

.blog-preview a {
    font-size: 24px;
    line-height: 30px;
    color: #323232;
    font-weight: 700;
}

.mailing {
    background-position: center;
    background-color: #f8f7f4
}

.mailing-info {
    color: #5a5a5a;
    font-weight: 400;
    background-image: url("img/mail-base.png");
}

.blog-preview a:active {
    color: #e84d37; 
}

.blog-preview a:hover {
    color: #e84d37; 
}

.main-footer a:active {
    color: #ffbc9e;
}

.main-footer a:hover { 
    color: #ffbc9e; 
}

.footer__social-item-btn {
    color: #849d8f;
}

.footer__nav-about a {
    color: #fefefe;
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
}

.footer__copyright {
    color: #fefefe;
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
}

.provider a {
    font-size: 13px;
    line-height: 18px;
    font-weight: 700;
}

.modal__feedback,
.modal-login, 
.modal-search,
.cart__list-block,
.catalog__navigation {
    display: none;
}

/* CATALOG PAGE */ 

.breadcrumbs a {
    font-size: 14px;
    font-weight: 400;
}

.catalog__title {
    font-size: 35px;
    line-height: 41px;
    font-weight: 700;
}

.breadcrumbs-item {
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
}

.breadcrumbs a:active,
.catalog-item a:active {
    color: #ffbc9e; 
}

.breadcrumbs a:hover,
.catalog-item a:hover { 
    color: #ffbc9e; 
}

.cart__list a { 
    color: #323232
}

.catalog-item__price {
    font-size: 45px;
    line-height: 45px;
    font-weight: 700;
}

.catalog-item__weight {
    font-size: 30px;
    line-height: 45px;
    font-weight: 700;
}

.catalog-item a {
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
}

/* ----- СЕТОЧНЫЕ СТИЛИ ----- */

.page-inner {
    width: 1146px;
    margin: 0 auto;
}

.main-header {
    margin: 0 auto;
    padding: 0;
    width: 1146px;
    margin-bottom: 30px;

    /* Временно для сетки
    background-color: #FF4F18;*/
}

.site-navigation a {
    padding: 6px 13px;
}

.user-navigation a {
  padding: 10px;
}

.catalog__navigation li {
    margin: 0;
    padding: 0;
}

.main-navigation {
    display: flex;
    width: 100%;
    
    /* Временно для сетки
    background-color: #B4467E;*/
}

.main-header-logo {
    padding-top: 8px;
    width: 154px;
    height: 64px;
    margin-left: 27px;
    /* Временно для сетки
    background-color: #E2871D;*/
}

.site-navigation {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin-left: 10px;
    padding-top: 30px;   
}

.user-navigation {
    margin: 0;
    padding: 0;
    padding-top: 22px;
    margin-left: auto;
    display: flex;
    list-style: none;
    margin-right: 25px;
  
    /* Временно для сетки
    background-color: #46B47E;*/
}

 .container {
    width: 1200px;
    margin: 0 auto;
}

.advantages {
    margin: 0 27px;
    padding: 25px 20px;
  }

.advantages-list {
    display: flex;
    justify-content: space-between;
}

.advantages-item {
    width: 560px;
}

.header__contacts {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin-right: 25px;
    min-width: 180px;
    display: none;
}

.header__contacts-tel {
    padding-top: 8px;
}

.information {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.blog-preview,
.mailing {
    width: 560px;
}

.blog-preview {
    margin-left: 27px;
    margin-right: 25px; 
    padding: 20px;
    background-color: white;
}

.mailing {
    margin-right: 27px;
    padding: 30px 27px 27px;
    min-height: 220px;
}

.map {
    min-height: 430px;
}

.main-footer {
 
    display: flex;
    justify-content: space-between;

  /* Временно для сетки 
    background-color: orange;*/
}

.footer__social-list {
    display: flex;
    margin-top: 28px;
    margin-left: 27px;

    /* Временно для сетки
    background-color: #847D75;*/
}

.footer__nav-about {
    display: flex;
    margin-top: 35px;
    width: 350px;
    flex-wrap: wrap;
    margin-bottom: 28px;
  }

.footer__nav-about a {
    margin: 10px;
}

.footer__copyright {
    margin-top: 17px;
    width: 210px;
    margin-bottom: 28px;
}

   /* СЕТКА СТРАНИЦЫ КАТАЛОГА*/

.breadcrumbs {
    margin-bottom: 10px;
}

.catalog {
     width: 1200px;
     /* Временно для сетки
     background-color: #B49946;*/
}

.catalog__title {
    margin: 0;
    margin-bottom: 35px;
    padding: 0;
}

.catalog-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 27px;
}

.catalog-item {
    width: 267px;
    margin-bottom: 40px;
    margin-left: 0;
}

.catalog-item:nth-child(4n) {
    margin-right: 0;
}

.visually-hidden:not(:focus):not(:active) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

